#bottomPanel{
    position:relative;
    bottom:0;
    margin-bottom: 0!important;
    background-color: #202c33;
    height:10%;
}
#uploadPanel{
    display:flexbox!important;
}
.dropdown-menu.show{
    display:flex;
}
#bottomInput{
    padding:0.5%;
}
#bottomPanelText{
    background-color: #2b3942;
    border-color: #2b3942;
}
#senderButton{
    border-color : #2b3942;
}