.chat-background {
  width: 70%;
  height: 80%;
}
.grid-background {
  background-color: #f7f8f9;
}
.text {
  
  position: relative;
  top: 22%;
}
.chats {
    height: 100%;
    
  }

.person-icon {
  
  padding: 1%;
  
}
.add-person-icon {
  top : 18%;
}
.time-ago-text {
  line-height: 3.5;
  font-size: 13px;
}
.text-message-sender {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 6px;
}
.text-bar-message {
  font-size: 13px;
  line-height: 0px;
}
.message-bar {
  position: absolute;
  bottom:0;
  margin-left:0.5%;
}
.chat-label-form {
  bottom: 0px;
  margin: 0.5%;
}
.main-chat-background {
  position: relative;
  height: 100%;
  width: 65%;
  background-color: bisque;
}
.attach-icon {
  padding-top: 5px;
  margin-left: 5px;
}
.attach-icon:hover{
    background-color: lightgray;
    cursor:pointer;
}
.chat-members {
  margin-bottom: 10px;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.contact-list{
  left: 0px;
  left:0px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.container-end{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    padding-bottom: 7%;
    padding-right : 3%;
  }
  
  .end{
    position: absolute;
    bottom: 0px;
  }
.message-scroll{
  background-image: url(../../pictures/chat_background.jpg);
    overflow-y: scroll;
    overflow-x:hidden;
    flex-direction: column-reverse !important;
    display: flex;
    margin-bottom: 2%;
  }
.list-group-item:hover{
    background-color: lightgray;
    cursor: pointer;
}

.container-relative{
  position: relative;
  
}

.upper-bar{
  background-color: #f0f2f5;
  padding : 1%;
}

.upper-bar-btn{
  background-color: #f0f2f5 !important;
  border-color: #f0f2f5 !important;
}

.lower-row{
  height: 80%;
  flex-wrap: nowrap !important;
}

btn-outline-secondary::after{
  padding:0;

}
.send-icon{
  font-size:30px;
  color:darkgray;

}
