.chat-you {
    
    
    margin-left: auto; 
margin-right: 0;
}

.bubble{
    background-color: #08fc9c;
    border-radius: 5px;
    box-shadow: 0 0 6px #08fc9c;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    
}

.bubble::before {
    background-color: #08fc9c;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
     float: right;
    margin: 5px 20px 5px 45px;    
         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.time{
    display: block;
    position: relative;
    color : white;
    left : 5px;
    margin-right: 20px;
}

.thumbnail-media{
    height: 20%;
    width: 20%;
}

.image {
    width: 30%;
    height: auto;
  }

  .video {
    width: 20%;
    height: auto;
  }

