.grid {
  background-color: rgb(255, 250, 250);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 0%;
}
.icon {
  text-align: center;
}
.padding {
  padding: 12px;
  position: relative;
}
.form-register{
  width : 27%;
  height: auto;
  padding : 2%;
}
.form-login{
  width : 23%;
  height: auto;
  padding : 2%;
}

.row-padding{
  padding-bottom : 5%;
}

.placeholder-padding{
  padding-left : 5%;
}