.grid {
  background-color: rgb(255, 250, 250);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  padding: 4%;
}
.icon {
  text-align: center;
}
.padding {
  padding: 12px;
  position: relative;
}
