.grid {
  background-color: rgb(255, 250, 250);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 0%;
}
.icon {
  text-align: center;
}
.padding {
  padding: 12px;
  position: relative;
}
.form-register{
  width : 27%;
  height: auto;
  padding : 2%;
}
.form-login{
  width : 23%;
  height: auto;
  padding : 2%;
}

.row-padding{
  padding-bottom : 5%;
}

.placeholder-padding{
  padding-left : 5%;
}

.scrollbar {
  
  
  background: #fff;

  }
  
  .scrollbar-primary::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; }
    
    .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #c8c4c4; }